//Style of each column header's background in the tableView
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0.0%, #424141 100.0%);
}

 //Style of each column header's label  in the tableView
.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell.column-header-background .label{
     -fx-background-color: transparent;
    -fx-font-family:Montserrat;
    -fx-font-weight:bold;
    -fx-text-fill: white;
    -fx-font-size:16px;
}

//Style of each column in the tableView
.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-view.table-column{
    -fx-alignment:center;
}

 //Style of each table cell
.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell.table-cell{
    -fx-font-weight:bold;
    -fx-font-size:16px;           //the font size you asked in the comments below

    /* -fx-text-fill:orange; */

}


//Style for each < non odd> row of table view
/* .table-row-cell{
    -fx-background-color: white;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
}

//Style for each <odd> row of table view
*/
.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:odd{
    -fx-background-color: #d2d2d2;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
    -fx-padding: 0.0em;
     -fx-table-cell-border-color:#c3c3c3;
     -fx-table-cell-border-width:1 0 0 0;
}


//Style of each entire row in the table view
.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background-color: #6cc2d5;
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-font-size:16px;
}


//Style of each entire row in the table view when is hovered
.tree-table-row-cell:hover {
    -fx-background-color: #c3c3c3;
}

//Style of each entire row in the table view when is getting focused
.tree-table-row-cell:focused {
    -fx-background-color: #f0f0f0;
}